<div data-sgpg="sgpg" class="db_1" data-fwidth="">
    <div class="colsg_inner">
        <div class="droppable clearfix">
            <div class="model custom_html_model" data-global="0" id="htmlwidget1db_2">
                <div class="dibu_2">
                    <div style="text-align:center;">
                            <span style="line-height:1.5;color:#FFFFFF;font-size:14px;">
                                <a href="/" target="_blank">
                                    <span style="color:#FFFFFF;">网站首页</span>
                                </a>
                                <span style="color:#FFFFFF;"> &nbsp;   </span>
                                <a href="/about" target="_blank">
                                    <span style="color:#FFFFFF;">关于我们 &nbsp;</span>
                                </a>
                                <span style="color:#FFFFFF;">   </span>
                                <a href="/product" target="_blank">
                                    <span style="color:#FFFFFF;">产品展示</span>
                                </a>
                                <span style="color:#FFFFFF;"> &nbsp;   </span>
                                <a href="/news" target="_blank">
                                    <span style="color:#FFFFFF;">新闻中心</span>
                                </a>
                                <span style="color:#FFFFFF;"> &nbsp;  </span>
                                <a href="/zscx" target="_blank">
                                    <span style="color:#FFFFFF;"> 证书查询 </span>
                                </a>
                                <span style="color:#FFFFFF;">&nbsp;  </span>
                                <a href="/khly" target="_blank">
                                    <span style="color:#FFFFFF;"> 客户留言</span>
                                </a>
                                <span style="color:#FFFFFF;"> &nbsp; &nbsp; &nbsp; </span>
                                <a href="/lxwm" target="_blank">
                                    <span style="color:#FFFFFF;">&nbsp;联系我们</span>
                                </a>
                            </span>
                    </div>
                    <div style="text-align:center;">
                        <br />
                    </div>
                    <div style="text-align:center;">
                        <span style="line-height:1.5;color:#FFFFFF;font-size:14px;">版权所有：姑苏区叶玉坊玉雕工作室 电话：13771826062 联系人：叶先生 </span>
                    </div>
                    <div style="white-space:nowrap;">
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>