
{{>footer-link}}

        </div>

<script type="text/javascript" src="../scripts/web-animate.js"></script>
<script type="text/javascript" src="../scripts/widget.js"></script>
<link rel="stylesheet" type="text/css" href="../styles/bmap.css" />
<script type="text/javascript" src="../scripts/ckplayer.js"></script>

<script type="text/javascript" src="../scripts/AreaInfoSelect.js"></script>
<script type="text/javascript" src="../scripts/jquery.validate.js"></script>
<script type="text/javascript" src="../scripts/magic360.js"></script>
<script type="text/javascript" src="../scripts/aniplugin.js"></script>

</body>
</html>