{{>header}}
    <div data-sgpg="sgpg" class="banner" data-fwidth="">
        <div class="colsg_inner" style="width: 100%;">
            <div class="droppable clearfix">
                <div id="AdverSliderLunbo109" class="AdverSliderLunbo model" data-wiget-type="AdverSliderLunbo"
                     data-wiget-para="{&quot;width&quot;: 1920,&quot;height&quot;:596,&quot;interval&quot;: 4000,&quot;speed&quot;: 600,&quot;effect&quot;:&quot;slide&quot;,&quot;mouseEvent&quot;:&quot;click&quot;}">
                    <div class="slider_wrap">
                        <div class="advertitle bigImgBanner_hd">
                            <!-- 头部 -->
                            <span class="titlespan">
            </span>
                        </div>
                        <div class="bigImgBanner_bd" style="height: 596px;">
                            <!-- 主体 -->
                            <div class="slides_wrapperbox"
                                 style="width: 1920px; margin-left: -960px; left: 50%; overflow: hidden; display: block;">

                                <div class="slidesjs-container"
                                     style="overflow: hidden; position: relative; width: 1920px; height: 596px;">
                                    <div class="slidesjs-control"
                                         style="position: relative; left: 0px; width: 1920px; height: 596px;"><img
                                            src="./index_files/24.jpg" alt="" class="slidesjs-slide" slidesjs-index="0"
                                            style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; backface-visibility: hidden; display: block;"><img
                                            src="./index_files/46.jpg" alt="" class="slidesjs-slide" slidesjs-index="1"
                                            style="position: absolute; top: 0px; left: 1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;"><img
                                            src="./index_files/45.jpg" alt="" class="slidesjs-slide" slidesjs-index="2"
                                            style="position: absolute; top: 0px; left: -1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;">
                                    </div>
                                </div>


                                <ul class="slidesjs-pagination">
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/index.html#"
                                                                            data-slidesjs-item="0" class="active">1</a>
                                    </li>
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/index.html#"
                                                                            data-slidesjs-item="1" class="">2</a></li>
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/index.html#"
                                                                            data-slidesjs-item="2" class="">3</a></li>
                                </ul>
                            </div>
                            <a class="slidesjs-next slidesjs-navigation" href="http://yezhiliang.com/index.html#"
                               title="Next">Next</a><a class="slidesjs-previous slidesjs-navigation"
                                                       href="http://yezhiliang.com/index.html#" title="Previous">Previous</a>
                        </div>
                        <div class="bto"></div><!-- 底部 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-sgpg="sgpg" class="about" data-fwidth="">
        <div class="colsg_inner">
            <div style="width: 399px;" class="droppable sgcol_3 fl">
                <div class="model custom_html_model" data-global="0" id="htmlwidget1jianjie">
                    <div class="xiayi">
                        <img src="./index_files/43dkpuhq_hvc.jpg" alt=""></div>
                </div>
            </div>
            <div style="width: 139px;" class="droppable sgcol_3 fl"></div>
            <div style="width: 611px;" class="droppable sgcol_3 fl cur_colum">
                <div id="CommPageAbout115" class="CommPageAbout model">
                    <div class="wraper">

                        <!-- 头部 -->
                        <div class="hd">

            <span class="title">
                单页简介
            </span>
                        </div>

                        <!-- 主体 -->
                        <div class="bd">
                            <div class="content">
                                <a href="http://yezhiliang.com/about/C6I1.html" target="_self" title="公司简介">
                                    <img class="CommPageAbout img" src="./index_files/25.jpg" border="0" alt="公司简介">
                                </a>
                                <div class="summery_content">
                                    叶志梁，1978年出生于浙江上虞，浙江省玉石雕刻大师、浙江省珠宝首饰行业协会、浙江省收藏协会玉器委员会、苏州市玉器商会浙江分会副会长。1993年开始学习玉石雕刻，从此与玉石结下了不解之缘。曾遍访名师求教，技艺渐进。2005年成立了自己的工作室：‘叶玉坊’志梁玉艺工作室，擅长仿古、花鸟、人物、动物等设计与制作。
                                </div>
                                <div class="content_detail">
                                    <a href="http://yezhiliang.com/about/C6I1.html" target="_self" title="公司简介">[详情]</a>
                                </div>

                            </div>
                        </div>

                        <!-- 底部 -->
                        <div class="bto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-sgpg="sgpg" class="parduct" data-fwidth="">
        <div class="colsg_inner">
            <div class="droppable clearfix">
                <div id="ProductMarquee124" class="ProductMarquee model" data-wiget-type="imagesMarquee"
                     data-wiget-para="{&quot;movegap&quot;: 1,&quot;ifshowzoom&quot;: 0,&quot;speed&quot;: 25,&quot;direction&quot;: &quot;right&quot;,&quot;effectType&quot;:0,&quot;spaceTime&quot;:3000,&quot;ifscroll&quot;:1}">
                    <div class="Marquee_hd hd">
                        <!-- 头部 -->
                        <a href="http://yezhiliang.com/#/C0.html">更多</a>
                        <h2 class="Marquee_title">产品滚动</h2>
                    </div>
                    <div class="Marquee_bd bd">
                        <!-- 主体 -->
                        <div class="Marquee_box">
                            <ul class="Marquee_lists clearfix" style="width: 1470px; margin-left: -265px;">
                                <li class="Marquee_li clearfix" style="display: inline; float: left;">
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/InC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/30.jpg" alt="禅" title="禅">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/InC5.html"
                                               title="禅" target="_self">
                                                禅 </a>
                                        </p>


                                    </div>
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IoC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/31.jpg" alt="顶呱呱" title="顶呱呱">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IoC5.html"
                                               title="顶呱呱" target="_self">
                                                顶呱呱 </a>
                                        </p>


                                    </div>
                                </li>
                                <li class="Marquee_li clearfix" style="display: inline; float: left;">
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IpC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/32.jpg" alt="凤穿牡丹" title="凤穿牡丹">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IpC5.html"
                                               title="凤穿牡丹" target="_self">
                                                凤穿牡丹 </a>
                                        </p>


                                    </div>
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IqC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/33.jpg" alt="观音" title="观音">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IqC5.html"
                                               title="观音" target="_self">
                                                观音 </a>
                                        </p>


                                    </div>
                                </li>
                                <li class="Marquee_li clearfix" style="display: inline; float: left;">
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IrC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/34.jpg" alt="龟鹤延年" title="龟鹤延年">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IrC5.html"
                                               title="龟鹤延年" target="_self">
                                                龟鹤延年 </a>
                                        </p>


                                    </div>
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IsC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/35.jpg" alt="荷塘月色" title="荷塘月色">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IsC5.html"
                                               title="荷塘月色" target="_self">
                                                荷塘月色 </a>
                                        </p>


                                    </div>
                                </li>
                                <li class="Marquee_li clearfix" style="display: inline; float: left;">
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/ItC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/38.jpg" alt="花开富贵" title="花开富贵">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/ItC5.html"
                                               title="花开富贵" target="_self">
                                                花开富贵 </a>
                                        </p>


                                    </div>
                                    <div class="Marquee_imgbx">
                                        <!--此处增加放大镜效果-->
                                        <a class="nojqzoom" href="http://yezhiliang.com/parduct/IuC5.html"
                                           target="_self">
                                            <img class="Marquee_img" src="./index_files/39.jpg" alt="龙凤如意" title="龙凤如意">

                                        </a>
                                        <p class="Marquee_name">
                                            <a class="Marquee_link" href="http://yezhiliang.com/parduct/IuC5.html"
                                               title="龙凤如意" target="_self">
                                                龙凤如意 </a>
                                        </p>


                                    </div>
                                </li>


                                <!--设计环境测试数据开始-->

                            </ul>

                        </div>
                    </div>
                    <!---此处右滚动-->
                    <div class="Marquee_bto bto"></div><!-- 底部 -->
                </div>


            </div>
        </div>
    </div>

{{>footer}}