{{>header}}
    <div data-sgpg="sgpg" class="banner" data-fwidth=""><div class="colsg_inner" style="width: 100%;"><div class="droppable clearfix"><div id="AdverSliderLunbo109" class="AdverSliderLunbo model" data-wiget-type="AdverSliderLunbo" data-wiget-para="{&quot;width&quot;: 1920,&quot;height&quot;:596,&quot;interval&quot;: 4000,&quot;speed&quot;: 600,&quot;effect&quot;:&quot;slide&quot;,&quot;mouseEvent&quot;:&quot;click&quot;}">
    <div class="slider_wrap">
        <div class="advertitle bigImgBanner_hd">
            <!-- 头部 -->
            <span class="titlespan">
            </span>
        </div>
        <div class="bigImgBanner_bd" style="height: 596px;">
            <!-- 主体 -->
            <div class="slides_wrapperbox" style="width: 1920px; margin-left: -960px; left: 50%; overflow: hidden; display: block;">

                                <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 1920px; height: 596px;"><div class="slidesjs-control" style="position: relative; left: 0px; width: 1920px; height: 596px;"><img src="./khly_files/24.jpg" alt="" class="slidesjs-slide" slidesjs-index="0" style="position: absolute; top: 0px; left: 1920px; width: 100%; z-index: 0; backface-visibility: hidden; display: block;"><img src="./khly_files/46.jpg" alt="" class="slidesjs-slide" slidesjs-index="1" style="position: absolute; top: 0px; left: -1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;"><img src="./khly_files/45.jpg" alt="" class="slidesjs-slide" slidesjs-index="2" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; display: block; backface-visibility: hidden;"></div></div>
                                
                                

            <ul class="slidesjs-pagination"><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/khly.html#" data-slidesjs-item="0" class="">1</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/khly.html#" data-slidesjs-item="1" class="">2</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/khly.html#" data-slidesjs-item="2" class="active">3</a></li></ul></div><a class="slidesjs-next slidesjs-navigation" href="http://yezhiliang.com/khly.html#" title="Next">Next</a><a class="slidesjs-previous slidesjs-navigation" href="http://yezhiliang.com/khly.html#" title="Previous">Previous</a>
        </div>
        <div class="bto"></div><!-- 底部 -->
    </div>
</div>
</div></div></div><div data-sgpg="sgpg"><div class="colsg_inner"><div style="width: 20%;" class="droppable sgcol_3 fl"><div id="LeftNaviExpand177" class="LeftNaviExpand model" data-wiget-type="LeftNaviExpand" data-wiget-para="{&quot;effect&quot;:&quot;slideDown&quot;,&quot;animSpeed&quot;: 200,&quot;remState&quot;:0}">

	<div class="hd"></div><!-- 头部 -->
	<div class="bd">
		<!-- 主体 -->
		<ul class="navi_lists clearfix">
						<li class="parent">
											<div class="firlinkbx unexpendbox"><a class="lone_link" href="http://yezhiliang.com/about.html" target="_self" title="关于我们">关于我们<span class="unexpend"></span></a></div>
								<div class="LeftNavi_Pic"></div>
								<ul class="children1">
										<li class="item1">
													<div class="firlinkbx"><a href="http://yezhiliang.com/about/C6.html" target="_self" title="公司简介">公司简介<span class="expend"></span></a></div>
										</li>
										<li class="item1">
													<div class="firlinkbx"><a href="http://yezhiliang.com/about/C7.html" target="_self" title="联系我们">联系我们<span class="expend"></span></a></div>
										</li>
								</ul>

						</li>


		</ul>
	</div>
	<div class="bto"></div><!-- 底部 -->
</div></div><div style="width: 5%;" class="droppable sgcol_3 fl"></div><div style="width: 75%;" class="droppable sgcol_3 fl cur_colum">

<div id="MsgList217" class="MsgList model">
    <!--访客留言-->
   

    <div class="hd">
        <!-- 头部 -->
        <div class="Title">
在线留言        </div>
    </div>
            <div id="msgAdd">
                <div class="bd">
                    <!-- 主体 -->
                    <form action="http://yezhiliang.com/khly.html">
                        <table cellspacing="0" cellpadding="0">
                            <tbody><tr class="msg_title">
                                <th>
                                    <label for="title">
                                        标题 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_title" id="msg_title" class="text">
                                </td>
                            </tr>
                            <tr class="msg_content">
                                <th>
                                    <label for="lecontent">
                                        留言内容 :
                                    </label>
                                </th>
                                <td>
                                    <textarea name="lecontent" id="lecontent" class="lecontent"></textarea>
                                </td>
                            </tr>
                            <tr class="msg_sex">
                                <th>
                                    <label for="sex">
                                        性别 :
                                    </label>
                                </th>
                                <td>
                                    <input type="radio" name="sex" value="1" checked="checked">男
                                    <input type="radio" name="sex" value="0">女
                                </td>
                            </tr>
                            <tr class="msg_email">
                                <th>
                                    <label for="email">
                                        邮箱 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_email" id="msg_email" class="text">
                                </td>
                            </tr>
                            <tr class="msg_tel">
                                <th>
                                    <label for="telphone">
                                        手机 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_telphone" id="msg_telphone" class="text">
                                </td>
                            </tr>
                            <tr class="msg_phone">
                                <th>
                                    <label for="phone">
                                        电话 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_phone" id="msg_phone" class="text">
                                </td>
                            </tr>
                            <tr class="msg_company">
                                <th>
                                    <label for="company">
                                        公司名称 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_company" id="msg_company" class="text">
                                </td>
                            </tr>
                            <tr class="msg_address">
                                <th>
                                    <label for="address">
                                        联系地址 :
                                    </label>
                                </th>
                                <td>
                                    <input type="text" name="msg_address" id="msg_address" class="text">
                                </td>
                            </tr>
                            <tr class="msg_btn">
                                <th>
                                </th>
                                <td>
                                    <input type="hidden" value="False" id="hffg">
                                    <input type="hidden" value="标题内容为空" id="hidTitle">
                                    <input type="hidden" value="留言内容为空" id="hidMsg">
                                    <input type="hidden" value="手机号码为空" id="hidTelPhone">
                                    <input type="hidden" value="手机号码格式不正确" id="hidPhoneType">
                                    <input type="hidden" value="留言成功，请等待管理审核完成！" id="hidMsgSuccess">
                                    <input type="hidden" value="留言成功！" id="hidSuccess">
                                    <input type="hidden" value="留言失败！" id="hidFail">
                                    <input type="hidden" value="验证码不正确！" id="hidNotVild">
                                    <input type="hidden" value="展开" id="hidOpen">
                                    <input type="hidden" value="收起" id="hidClose">
									<input type="hidden" value="0" id="hidIsOpenMsg">
									<input type="hidden" value="5" id="hidRepDay">
                                    <input type="button" value="提交" class="send" onclick="MsgCommon.btnClick()">
                                    <div>
                                        <p class="logerro_tip">
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </form>
                </div>
                <ul id="msgList" class="lmg_lists">
                        <li>
                            <div class="lg_top">
                                <span class="lg_name"></span><span class="lg_time">2019/4/19 17:00:59</span>
                            </div>
                            <div class="lg_content">
                                商务合作
                            </div>



                        </li>
                </ul>
                    <div class="bto">
                        <!-- 底部 -->
                            <div id="pager">
                                第1页/共1页&nbsp;&nbsp;首页&nbsp;上一页&nbsp;<b>1</b>&nbsp;&nbsp;&nbsp;下一页&nbsp;尾页&nbsp;&nbsp;每页5条/共1条&nbsp;&nbsp;
                            </div>
                    </div>
            </div>

</div> </div></div></div>

{{>footer}}