<div data-sgpg="sgpg" class="top" data-fwidth="">
    <div class="colsg_inner">
        <div style="width: 423px;" class="droppable sgcol_3 fl"></div>
        <div style="width: 154px;" class="droppable sgcol_3 fl"></div>
        <div style="width: 572px;" class="droppable sgcol_3 fl">
            <div id="MainNavi107" class="MainNavi model" data-wiget-type="MainNavi"
                 data-wiget-para="{&quot;effect&quot;:&quot;slideDown&quot;,&quot;animSpeed&quot;: 200,&quot;defaultTime&quot;:200}">
                <div class="hd"></div><!-- 头部 -->
                <div class="bd">
                    <!-- 主体 -->
                    <ul class="navi_lists clearfix">
                        <li class="parent firstplink navi_css_1">
                            <a class="lone_link" href="/" target="_self"
                               title="网站首页">
                                <span class="navi_title">网站首页</span>
                            </a>
                        </li>
                        <li class="parent navi_css_2">
                            <a class="lone_link" href="/about" target="_self"
                               title="关于我们">
                                <span class="navi_title">关于我们</span>
                            </a>
                        </li>
                        <li class="parent navi_css_3">
                            <a class="lone_link" href="/product" target="_self"
                               title="产品展示">
                                <span class="navi_title">产品展示</span>
                            </a>
                        </li>
                        <li class="parent navi_css_4">
                            <a class="lone_link" href="/news" target="_self" title="新闻中心">
                                <span class="navi_title">新闻中心</span>
                            </a>
                        </li>
                        <li class="parent navi_css_5">
                            <a class="lone_link" href="/zscx" target="_self" title="证书查询">
                                <span class="navi_title">证书查询</span>
                            </a>
                        </li>
                        <li class="parent navi_css_6">
                            <a class="lone_link" href="/khly" target="_self" title="客户留言">
                                <span class="navi_title">客户留言</span>
                            </a>
                        </li>
                        <li class="parent lastplink navi_css_7">
                            <a class="lone_link" href="/lxwm" target="_self" title="联系我们">
                                <span class="navi_title">联系我们</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="bto"></div><!-- 底部 -->
            </div>
        </div>
    </div>
</div>