{{>header}}
    <div data-sgpg="sgpg" class="banner" data-fwidth="">
        <div class="colsg_inner" style="width: 100%;">
            <div class="droppable clearfix">
                <div id="AdverSliderLunbo109" class="AdverSliderLunbo model" data-wiget-type="AdverSliderLunbo"
                     data-wiget-para="{&quot;width&quot;: 1920,&quot;height&quot;:596,&quot;interval&quot;: 4000,&quot;speed&quot;: 600,&quot;effect&quot;:&quot;slide&quot;,&quot;mouseEvent&quot;:&quot;click&quot;}">
                    <div class="slider_wrap">
                        <div class="advertitle bigImgBanner_hd">
                            <!-- 头部 -->
                            <span class="titlespan">
            </span>
                        </div>
                        <div class="bigImgBanner_bd" style="height: 596px;">
                            <!-- 主体 -->
                            <div class="slides_wrapperbox"
                                 style="width: 1920px; margin-left: -960px; left: 50%; overflow: hidden; display: block;">

                                <div class="slidesjs-container"
                                     style="overflow: hidden; position: relative; width: 1920px; height: 596px;">
                                    <div class="slidesjs-control"
                                         style="position: relative; left: 0px; width: 1920px; height: 596px;"><img
                                            src="./nets_files/24.jpg" alt="" class="slidesjs-slide" slidesjs-index="0"
                                            style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; backface-visibility: hidden;"><img
                                            src="./nets_files/46.jpg" alt="" class="slidesjs-slide" slidesjs-index="1"
                                            style="position: absolute; top: 0px; left: 1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;"><img
                                            src="./nets_files/45.jpg" alt="" class="slidesjs-slide" slidesjs-index="2"
                                            style="position: absolute; top: 0px; left: -1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;">
                                    </div>
                                </div>


                                <ul class="slidesjs-pagination">
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/news.html#"
                                                                            data-slidesjs-item="0" class="active">1</a>
                                    </li>
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/news.html#"
                                                                            data-slidesjs-item="1">2</a></li>
                                    <li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/news.html#"
                                                                            data-slidesjs-item="2">3</a></li>
                                </ul>
                            </div>
                            <a class="slidesjs-next slidesjs-navigation" href="http://yezhiliang.com/news.html#"
                               title="Next">Next</a><a class="slidesjs-previous slidesjs-navigation"
                                                       href="http://yezhiliang.com/news.html#"
                                                       title="Previous">Previous</a>
                        </div>
                        <div class="bto"></div><!-- 底部 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-sgpg="sgpg">
        <div class="colsg_inner">
            <div style="width: 20%;" class="droppable sgcol_3 fl">
                <div id="LeftNaviExpand188" class="LeftNaviExpand model" data-wiget-type="LeftNaviExpand"
                     data-wiget-para="{&quot;effect&quot;:&quot;slideDown&quot;,&quot;animSpeed&quot;: 200,&quot;remState&quot;:0}">

                    <div class="hd"></div><!-- 头部 -->
                    <div class="bd">
                        <!-- 主体 -->
                        <ul class="navi_lists clearfix">
                            <li class="parent">
                                <div class="firlinkbx unexpendbox"><a class="lone_link"
                                                                      href="http://yezhiliang.com/news.html"
                                                                      target="_self" title="新闻中心">新闻中心<span
                                        class="unexpend"></span></a></div>
                                <div class="LeftNavi_Pic"></div>
                                <ul class="children1">
                                    <li class="item1">
                                        <div class="firlinkbx"><a href="http://yezhiliang.com/news/C4.html"
                                                                  target="_self" title="新闻中心">新闻中心<span
                                                class="expend"></span></a></div>
                                    </li>
                                </ul>

                            </li>


                        </ul>
                    </div>
                    <div class="bto"></div><!-- 底部 -->
                </div>
            </div>
            <div style="width: 5%;" class="droppable sgcol_3 fl"></div>
            <div style="width: 75%;" class="droppable sgcol_3 fl cur_colum">
                <div id="NewsPagingList190" class="NewsPagingList model">
                    <div class="hd">
                        <!-- 头部 -->
                        <span class="title">
                <!--  新闻标题-->
                            新闻分页列表
            </span>


                    </div>
                    <div class="bd">
                        <!-- 主体 -->
                        <!--  新闻列表-->
                        <ul class="lists">
                            <li class="clearfix">
                                <div id="lineheight">

                                    <a href="http://yezhiliang.com/xwxx/C4I14.html" title="玉雕的题材设计应遵循艺术规律和表现手法">玉雕的题材设计应遵循艺术...</a>
                                    <span class="time">2017-03-10 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div id="lineheight">

                                    <a href="http://yezhiliang.com/xwxx/C4I12.html" title="恭喜苏州叶玉坊玉雕工作室网站正式上线！">恭喜苏州叶玉坊玉雕工作室...</a>
                                    <span class="time">2017-03-10 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div id="lineheight">

                                    <a href="http://yezhiliang.com/xwxx/C4I13.html" title="家无玉不富人无玉不贵 玉石到底有何价值">家无玉不富人无玉不贵
                                        玉...</a>
                                    <span class="time">2017-03-10 </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="bto">
                        <!-- 底部 -->
                        <div id="pager">
                            <!--  新闻列表分页-->
                            第1页/共1页&nbsp;&nbsp;首页&nbsp;上一页&nbsp;<b>1</b>&nbsp;&nbsp;&nbsp;下一页&nbsp;尾页&nbsp;&nbsp;每页10条/共3条&nbsp;&nbsp;<input
                                value="0" id="txtPageGo91884afef45a46b1b7e6ff0fa9eec0a3" name="txtPageGo" type="text"
                                style="width:35px;"
                                onkeydown="if(event.keyCode==13)window.location.href=&#39;news?P=&#39; + document.getElementById(&#39;txtPageGo91884afef45a46b1b7e6ff0fa9eec0a3&#39;).value + &#39;&amp;&#39;"><input
                                name="btnGo" type="button" id="btnGo" value="跳转"
                                onclick="javascript:window.location.href=&#39;/news/P&#39; +document.getElementById(&#39;txtPageGo91884afef45a46b1b7e6ff0fa9eec0a3&#39;).value + &#39;.html&#39;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
