{{>header}}
    <div data-sgpg="sgpg" class="banner" data-fwidth=""><div class="colsg_inner" style="width: 100%;"><div class="droppable clearfix"><div id="AdverSliderLunbo109" class="AdverSliderLunbo model" data-wiget-type="AdverSliderLunbo" data-wiget-para="{&quot;width&quot;: 1920,&quot;height&quot;:596,&quot;interval&quot;: 4000,&quot;speed&quot;: 600,&quot;effect&quot;:&quot;slide&quot;,&quot;mouseEvent&quot;:&quot;click&quot;}">
    <div class="slider_wrap">
        <div class="advertitle bigImgBanner_hd">
            <!-- 头部 -->
            <span class="titlespan">
            </span>
        </div>
        <div class="bigImgBanner_bd" style="height: 596px;">
            <!-- 主体 -->
            <div class="slides_wrapperbox" style="width: 1920px; margin-left: -960px; left: 50%; overflow: hidden; display: block;">

                                <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 1920px; height: 596px;"><div class="slidesjs-control" style="position: relative; left: 0px; width: 1920px; height: 596px;"><img src="./news-detail_files/24.jpg" alt="" class="slidesjs-slide" slidesjs-index="0" style="position: absolute; top: 0px; left: 1920px; width: 100%; z-index: 0; backface-visibility: hidden; display: block;"><img src="./news-detail_files/46.jpg" alt="" class="slidesjs-slide" slidesjs-index="1" style="position: absolute; top: 0px; left: -1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;"><img src="./news-detail_files/45.jpg" alt="" class="slidesjs-slide" slidesjs-index="2" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; display: block; backface-visibility: hidden;"></div></div>
                                
                                

            <ul class="slidesjs-pagination"><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/xwxx/C4I14.html#" data-slidesjs-item="0" class="">1</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/xwxx/C4I14.html#" data-slidesjs-item="1" class="">2</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/xwxx/C4I14.html#" data-slidesjs-item="2" class="active">3</a></li></ul></div><a class="slidesjs-next slidesjs-navigation" href="http://yezhiliang.com/xwxx/C4I14.html#" title="Next">Next</a><a class="slidesjs-previous slidesjs-navigation" href="http://yezhiliang.com/xwxx/C4I14.html#" title="Previous">Previous</a>
        </div>
        <div class="bto"></div><!-- 底部 -->
    </div>
</div>
</div></div></div><div data-sgpg="sgpg"><div class="colsg_inner"><div style="width: 20%;" class="droppable sgcol_3 fl"><div id="LeftNaviExpand188" class="LeftNaviExpand model" data-wiget-type="LeftNaviExpand" data-wiget-para="{&quot;effect&quot;:&quot;slideDown&quot;,&quot;animSpeed&quot;: 200,&quot;remState&quot;:0}">

	<div class="hd"></div><!-- 头部 -->
	<div class="bd">
		<!-- 主体 -->
		<ul class="navi_lists clearfix">
						<li class="parent">
											<div class="firlinkbx unexpendbox"><a class="lone_link" href="http://yezhiliang.com/news.html" target="_self" title="新闻中心">新闻中心<span class="unexpend"></span></a></div>
								<div class="LeftNavi_Pic"></div>
								<ul class="children1">
										<li class="item1">
													<div class="firlinkbx"><a href="http://yezhiliang.com/news/C4.html" target="_self" title="新闻中心">新闻中心<span class="expend"></span></a></div>
										</li>
								</ul>

						</li>


		</ul>
	</div>
	<div class="bto"></div><!-- 底部 -->
</div></div><div style="width: 5%;" class="droppable sgcol_3 fl"></div><div style="width: 75%;" class="droppable sgcol_3 fl cur_colum">
<div id="NewsInfo198" class="NewsInfo model">
    


            <div class="newsinfo_assemble">
                <div class="newsinfo_Breadcrumbs">
                    <!--  新闻标题-->
                    <div class="title">
                        新闻中心
                    </div>
                    <!--  新闻面包屑-->
                    <div class="mbx_dv">
                        <a href="http://yezhiliang.com/Home/index">网站首页</a><span>&gt;</span>
                                    <a class="class_bread" href="http://yezhiliang.com/#/C4.html">新闻中心</a>
                                    <span>&gt;</span>

                    </div>
                </div>
                <div class="hd">
                    <!-- 头部 -->
                    <!--  新闻正文标题-->
                        <h1 class="con_title">
                            玉雕的题材设计应遵循艺术规律和表现手法
                        </h1>
                    <!--  新闻点击数、时间、副标题-->
                    <div class="con_subbx">
                        <span class="con_subtitle"></span>
                                            </div>

                </div>
                <div class="bd">
                        <!-- 主体 -->
                        <!--  新闻简介-->
                        <!--  新闻正文主体-->
                        <div class="con_bx">
                            <p style="padding:0px;margin-top:0px;margin-bottom:1em;text-indent:2em;">
	<span style="line-height:2;font-size:14px;">“玉必有工，工必有意”，玉雕的题材是构成玉雕作品外在形式的重要条件。现如今玉器雕琢的传统题材依然居多，以民间传说历史典故，宗教故事，山月，花木，飞禽走兽为主。通过其中蕴含的文化内涵和形式美学，达到极高的艺术欣赏价值。然而，传统设计题材根据时代变迁以及当代新的流行因素的影响，设计作品既要体现出它是文化传承的载体，又要满足大众层次的文化需要。并广泛吸收各门艺术的精髓，灵活运用。不惟古，也不一味求新。</span>
</p>
<p style="padding:0px;margin-top:0px;margin-bottom:1em;text-indent:2em;">
	<span style="line-height:2;font-size:14px;">现藏于北京故宫博物院的“大禹治水”玉山即是一件以民间传说为创作题材的作品。此作为清乾隆年间由扬州工匠雕凿制成，高224厘米、宽96厘米、座高60厘米、重达5吨。</span>
</p>
<p style="padding:0px;margin-top:0px;margin-bottom:1em;text-indent:2em;">
	<span style="line-height:2;font-size:14px;">玉雕的题材设计创作应遵循其特有的艺术规律和表现手法，也就是题材设计中所体现的“形式美”，这样才有助于提高我们的艺术鉴赏能力和创作水平。这就要打破传统设计形式，通过高度的概括、夸张、寓意、象征手法剑走偏锋的在形式感和视觉感上给人以出其不意的效果。这件“大禹治水”大青白玉的晶莹光泽与雕琢古朴的青褐色铜座相配，更显得雍容华贵，互映生辉。“玉禹山”卓立如峰，峭壁峥嵘，瀑布急涌，古木参天，聚集着凿山导水的劳动大军，玉师以剔地起突的雕琢法，设计巧妙、做工精细、整体作品很有神韵，其形象、神态被刻画得那么生动自然，活泼有趣，使整个构图的轻快调子得到充分展现，人物的形象、神态与结构比例，以及陪衬的道具，件件安排得紧凑恰当，雕琢得精致细腻，使整个作品活灵活现，极富神韵。</span>
</p>
<p style="padding:0px;margin-top:0px;margin-bottom:1em;text-indent:2em;">
	<span style="line-height:2;font-size:14px;">“玉禹山”的雕成，在中国工艺美术史上是一次伟大的壮举。它的正面钤刻乾隆的“五福五代堂古稀天子宝”大方印，背面刻“八征耄念之宝”方印，下方还有长篇御制诗及注文，可见作者对此作品何等骄傲、何等珍视，把它当作了自己一生的总结。</span>
</p>
<p style="text-indent:2em;">
	<br>
</p>
                        </div>

                        <!--  新闻二维码-->
                            <div class="QcDV">
                                <img name="QcImg" src="./news-detail_files/api.php" class="CsQCimg">
                            </div>
                    </div>

            </div>

                    <!--  上一条下一条新闻-->
                    <div class="newspn">
                        <div class="newsp">
                                <span>上一条</span>
                                <span>没有资料</span>
                         </div>
                         <div class="newsn">
                                <span>下一条</span>
                                    <a href="http://yezhiliang.com/xwxx/C4I13.html" title="家无玉不富人无玉不贵 玉石到底有何价值">
                                        家无玉不富人无玉不贵 玉石到底...
                                    </a>
                        </div>
                    </div>
                    <!--  相关新闻-->
                    <div class="RecNews">
                    </div>
                    <div class="bto"></div><!-- 底部 -->
                </div></div></div></div>

{{>footer}}
