{{>header}}
    <div data-sgpg="sgpg" class="banner" data-fwidth=""><div class="colsg_inner" style="width: 100%;"><div class="droppable clearfix"><div id="AdverSliderLunbo109" class="AdverSliderLunbo model" data-wiget-type="AdverSliderLunbo" data-wiget-para="{&quot;width&quot;: 1920,&quot;height&quot;:596,&quot;interval&quot;: 4000,&quot;speed&quot;: 600,&quot;effect&quot;:&quot;slide&quot;,&quot;mouseEvent&quot;:&quot;click&quot;}">
    <div class="slider_wrap">
        <div class="advertitle bigImgBanner_hd">
            <!-- 头部 -->
            <span class="titlespan">
            </span>
        </div>
        <div class="bigImgBanner_bd" style="height: 596px;">
            <!-- 主体 -->
            <div class="slides_wrapperbox" style="width: 1920px; margin-left: -960px; left: 50%; overflow: hidden; display: block;">

                                <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 1920px; height: 596px;"><div class="slidesjs-control" style="position: relative; left: 0px; width: 1920px; height: 596px;"><img src="./zscx_files/24.jpg" alt="" class="slidesjs-slide" slidesjs-index="0" style="position: absolute; top: 0px; left: 1920px; width: 100%; z-index: 0; backface-visibility: hidden; display: block;"><img src="./zscx_files/46.jpg" alt="" class="slidesjs-slide" slidesjs-index="1" style="position: absolute; top: 0px; left: -1920px; width: 100%; z-index: 0; display: block; backface-visibility: hidden;"><img src="./zscx_files/45.jpg" alt="" class="slidesjs-slide" slidesjs-index="2" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; display: block; backface-visibility: hidden;"></div></div>
                                
                                

            <ul class="slidesjs-pagination"><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/zscx.html#" data-slidesjs-item="0" class="">1</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/zscx.html#" data-slidesjs-item="1" class="">2</a></li><li class="slidesjs-pagination-item"><a href="http://yezhiliang.com/zscx.html#" data-slidesjs-item="2" class="active">3</a></li></ul></div><a class="slidesjs-next slidesjs-navigation" href="http://yezhiliang.com/zscx.html#" title="Next">Next</a><a class="slidesjs-previous slidesjs-navigation" href="http://yezhiliang.com/zscx.html#" title="Previous">Previous</a>
        </div>
        <div class="bto"></div><!-- 底部 -->
    </div>
</div>
</div></div></div><div data-sgpg="sgpg"><div class="colsg_inner"><div class="droppable clearfix"><div id="JadeProductSearch207" class="JadeProductSearch  model" data-wiget-type="JadeProductSearch" data-wiget-para="{&quot;defalut&quot;: &quot;both&quot;}">   
    <div class="hd">
        <!-- 头部 -->
            <h2 class="jade_stitle">证书查询</h2>
    </div>
    <div class="bd">
        <!-- 主体 -->
        <div class="class_search">
            <input type="text" class="class_search_input" name="search" id="JadeProductSearch_inputval">
            <a href="javascript:;" class="jade_searchbtn" onclick="JadeCommon.btnClick()">查询</a>
        </div>
        <p class="jade_tip js-jade-tip"></p>
        <div class="jadert_dv">
            <input type="hidden" value="zsxx" id="jade_hid">
            <a id="jade_link_asrc" class="jade_link" href="http://yezhiliang.com/zsxx"><img class="jade_img" id="jade_img" src="http://yezhiliang.com/zscx.html" data-thumb="" alt="" title=""></a>
        </div>
    </div>
</div>



</div></div></div>

{{>footer}}