html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0
}

img {
  vertical-align: middle;
  border: 0
}

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: arial, SimSun, "Microsoft Yahei"
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  text-decoration: none;
  color: #2068dc
}

a:hover {
  color: #de782d
}

.fl {
  float: left;
  display: inline
}

.fr {
  float: right;
  display: inline
}

.cl {
  clear: both
}

.ml_10 {
  margin-left: 10px
}

.ml_20 {
  margin-left: 20px
}

.n {
  font-weight: 400;
  font-style: normal
}

.b {
  font-weight: 700
}

.i {
  font-style: italic
}

.fw {
  font-family: 'Microsoft Yahei'
}

.tc {
  text-align: center
}

.tr {
  text-align: right
}

.tl {
  text-align: left
}

.clearfix:before, .droppable:before, .colsg_inner:before {
  content: "";
  display: table;
  height: 0;
  overflow: hidden
}

.clearfix:after, .droppable:after, .colsg_inner:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  line-height: 0
}

.clearfix, .droppable, .colsg_inner {
  *zoom: 1
}

.z {
  _zoom: 1
}

.fl_l {
  float: left;
  display: inline;
  _margin-right: -3px
}

.fl_r {
  float: right;
  display: inline;
  _margin-left: -3px
}

.suit {
  display: table-cell;
  width: 2000px;
  *width: auto;
  *display: inline-block
}

.auo_cell {
  display: table-cell;
  width: 2000px;
  *width: auto;
  *display: inline-block
}

.droppable {
  min-height: 1px;
  _height: 1px
}

.sgcol_2 {
  width: 50%
}

.sgcol_3 {
  width: 33%
}

.sgcol_4 {
  width: 25%
}

.sgcol_5 {
  width: 20%
}

.colsg_inner {
  margin-left: auto;
  margin-right: auto
}

.ui-datepicker {
  background: #fff;
  border: 1px solid #afafaf;
  padding: .2em .2em 0;
  width: 19em;
  display: none
}

.ui-helper-clearfix:after {
  clear: both
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table
}

.ui-widget-header {
  background: #7BF7F3;
  border: 0;
  padding: .2em 0;
  position: relative
}

.ui-datepicker .ui-datepicker-prev {
  left: 4px
}

.ui-datepicker .ui-datepicker-next {
  right: 4px;
  text-align: right
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1.8em;
  margin: 0 2.3em;
  text-align: center;
  font-weight: 700
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 1.8em;
  position: absolute;
  top: 2px;
  width: 3.5em;
  cursor: pointer
}

.ui-datepicker th {
  border: 0;
  font-weight: 700;
  padding: .7em .6em;
  text-align: center
}

.ui-datepicker td span, .ui-datepicker td {
  padding: 1px
}

.ui-datepicker td a {
  display: block;
  padding: .6em;
  text-align: right;
  text-decoration: none;
  border: 1px solid #D3D3D3;
  background: #efefef;
  color: #555
}

.ui-datepicker td .ui-state-active {
  background: #fff;
  border: 1px solid #aaa;
  color: #212121
}

.ui-datepicker td .ui-state-hover {
  background: #fff;
  border: 1px solid #dadada;
  color: #999
}

.ui-dialog-titlebar {
  display: none
}

.ui-dialog {
  border: 3px solid #666;
  background: #fff
}

.ui-dialog .app_title_pop {
  background: #7BF7F3;
  font-size: 14px;
  line-height: 28px;
  padding: 0 10px;
  border-bottom: 1px solid #666
}

.ui-dialog .app_hd_title {
  float: left
}

.ui-dialog .app_hd_cancel {
  float: right;
  font-weight: 700;
  font-size: 16px
}

.ui-dialog .app_list_pop {
  padding: 10px
}